.inner-head{
    padding:75px 0;
    background: #fec00f;
}
.inner-head h2{
    text-align: center;
}
.breadcrumb{
    background:none;
}
.breadcrumb-item a:link,.breadcrumb-item a:visited{
    color:#000;
    font-weight: bold;
}
.breadcrumb-item.active{
    font-weight: bold;
}
.inner-body{
    padding:50px 0;
}
.inner-body h2{
    text-align: center;
}